@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.root{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333333;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: #242852;
    font-family: 'Roboto', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 22px;
    background-color: #B0B3D9;
}
header{
    background-color: #f9e025;
    color: white;
    padding: 10px 0;
    text-align: center;
}
section{
    margin-bottom: 20px;
    padding: 15px;
    background-color: white;
    color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px #0000001a;
    background-color: #0D0F29;
    text-emphasis: bold;
    justify-content: center;
}
h1 {
    margin-top: 0;
    color:   #242852;
}
h2 {
    margin-top: 0;
    color:   #59fe05;

}
a{
    color: #e8c17f;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
img{
    max-width: 18%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 10px 0;
    display: flex;
}
#Experience{
    
    padding: 10px;
    text-align: left;
    border-radius: 5px;
     justify-content: center;
    
}
#Experience h2{
    margin: 0;
    font-size: 24px;
     justify-content: center;
}
#Experience p{
    font-size: 18px;
    margin: 5px 0 0 0;
    text-align: left;
}
#Experience  li{
    margin-bottom: 10px;
    text-align: left;
    font-size: 15px;

    list-style: disc;
    font-style: italic;

}
#Certifications{
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    align-items: space-between;
    
}

#Contact{
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    padding: 10px;
    border-radius: 5px;
}
 p{
    margin: 5px 0;
    font-size: 18px;
}
 div{
    color: #e8c17f;
    font-weight: bold;
    text-align: left;
}
label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #444;
}

table th {
    background-color: #1a1d2e;
    font-weight: bold;
}
input, textarea {
  display: block;
  width: 100%;
  max-width: 400px; 
  margin: 5px auto;
  padding: 8px;
  box-sizing: border-box;
  background-color:#e8c17f;
}
button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #59fe05;
  color: black;
  border: none;
  cursor: pointer;
  display: block;
  margin: 15px auto;
}
footer{
    background-color: #3A406B;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: bottom;
    bottom: 0;
    width: 100%;
}